extends layout

block content

  form#form(action="/upload", method="post", enctype="multipart/form-data")
    input(type="file", name="upload", multiple="multiple")
    input(value="Upload", type="submit")
